@page
@model ET.Client.Pages.Company.ProfileModel
@{
	ViewData["Title"] = "Company Profile";
}

<div class="container mt-5">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<div class="card">
				<div class="card-header">
					<h3 class="text-center">Company Profile</h3>
				</div>
				<div class="card-body">
					<div class="form-group">
						<label for="companyName">Company Name:</label>
						<input type="text" id="companyName" class="form-control" readonly value="@Model.Company.Name">
					</div>
					<div class="form-group">
						<label for="address">Address:</label>
						<input type="text" id="address" class="form-control" readonly value="@Model.Company.Address">
					</div>
					<div class="form-group">
						<label for="city">City:</label>
						<input type="text" id="city" class="form-control" readonly value="@Model.Company.City">
					</div>
					<div class="form-group">
						<label for="email">Email:</label>
						<input type="text" id="email" class="form-control" readonly value="@Model.Company.Email">
					</div>
					<div class="form-group">
						<label for="phone">Phone:</label>
						<input type="text" id="phone" class="form-control" readonly value="@Model.Company.Phone">
					</div>
					<div class="text-center m-4">
						<a class="btn btn-primary m-2" asp-page="/Company/Edit" asp-route-id="@Model.Company.Id">Edit</a>
						<a class="btn btn-success m-2" asp-page="/Company/ChangePassword" asp-route-id="@Model.Company.Id">Change Password</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

